/*
 * Empty Stylesheet file.
 */


.mainFxmlClass {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 10;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;
}


/*
#root {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;
}

#bp {
 -fx-background-color:  linear-gradient(gray,DimGrey );
}
*/

/*
#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(coral, coral );
}
*/

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 30, 30, 29, 28;
}

.button:armed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}




/*
#btnSair {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(coral, coral );
}
*/

#txtLogin {
   -fx-background-radius: 30, 30, 29, 28;
}

#txtSenha {
  -fx-background-radius: 30, 30, 29, 28;
}


/*
#text {
 -fx-fill:  linear-gradient(orange , orangered);
}
*/
